*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
 }

html, body {
   width: 100%;
   height: 100%;
}

body{
  background-color: #a0a0a0;
}

header, nav{
  width: 100%;
  height: 10%;  
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1414b8;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  
  div{
    width: 100px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
}